asgiref==3.8.1
attrs==24.1.0
autobahn==24.4.2
Automat==22.10.0
cffi==1.16.0
channels==4.0.0
constantly==23.10.4
cryptography==43.0.0
daphne==4.0.0
Django==4.2.3
django-cors-headers==3.14.0
djangorestframework==3.14.0
Faker==19.0.0
hyperlink==21.0.0
idna==3.7
incremental==24.7.2
pillow==10.4.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pyOpenSSL==24.2.1
python-dateutil==2.9.0.post0
pytz==2024.1
psycopg2-binary
service-identity==24.1.0
six==1.16.0
sqlparse==0.5.1
tomli==2.0.1
Twisted==24.3.0
txaio==23.1.1
typing_extensions==4.12.2
zope.interface==6.4.post2
channels-redis
redis
 django-cloudinary-storage