body {
margin:0
}

.hero {
height : 100vh;
background-color:#110b33;
display:flex;
justify-content:center;
align-items : center;
color:white;
font-family:Roboto
}

.hero div{
text-align:center
}

.hero img{
height:220px;
border-radius:340px

}
