@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Rubik";
}

button {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px

}

body{
  overflow-x: hidden;
}